#container {
    height: 200px;
}

#game {
    margin: 10px;
    height: 500px;
    background: #bbb;
    position: relative;
}

#player {
    position: absolute;
    height: 50px;
    width: 50px;
    background: #0b97c4;
    left: 10%;
}

.point {
    position: absolute;
    height: 50px;
    width: 50px;
    background: red;
}
